<div class="images">
	<div class="imgstyle">
	<% images.forEach(function (image) { %>
		<h3> <%= image.alt %> </h3>
		<img src=<%= image.url %> alt=<%= image.alt %> title=<%= image.alt %> />
		
	<% }) %>
	</div>
</div>