@import "_variables";

body {
  margin: 5px;
  background-color: #333;
  color: #fff;
  font-family: $serif-fonts;
  font-size: $font-size * 0.55;
}

h1 {
  font-size: $font-size * 3;
}

h2 {
  font-size: $font-size * 2.5;
  color: $h2-color;
}

h3 {
  font-size: $font-size * 2;
}

h4 {
  font-size: $font-size * 1.5;
}

h5 {
  font-size: $font-size * 1;
}

h6 {
  font-size: $font-size * 0.95;
}

.topnav {
  overflow: hidden;
  background-color: black;

  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  a:hover {
    background-color: #ddd;
    color: black;
  }
}

.images img {
  float: right;
}

img {
  width: $font-size * 7.5;
  height: $font-size * 7.5;
}
