<% include ../partials/navbar %>
<% include ../partials/header %>

<p>
    Movies are a integral part of my life. I have been watching movies at a young age.
    I watch many different types of movies in many different languages.
</p>

<% include ../partials/picsinline %>