<% include ../partials/navbar %>
<% include ../partials/header %>

<% if (pagename == 'about') { %>
  <p>
    Movies are a integral part of my life. I have been watching movies at a young age.
    I watch many different types of movies in many different languages.

    My favorite movies are:
      
    
  </p>
<% } %>
<% include ../partials/picsinline %>

