<% include ../partials/navbar %>
<% include ../partials/header %>
<% include ../partials/picsinline %>

<% Object.keys(articles).forEach(function (id) { %>
  <article>
    <h4><%= articles[id].title %></h4>
    <p><%= articles[id].content %></p>
  </article>
<% }) %>
